header h1{
font-family: 'Berkshire Swash', cursive;
text-align: center;
justify-content: center;

}
header p{
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  justify-content: center;
}
header{
  background: #7F170E;
  color:white;
}
button{
  justify-content: center;
}

#button{
  padding-top: .2em;
}
nav a{
  color: #7F170E;
}

/* Styling for my game */

#playground{
  margin:auto;
  background: #eee;
  border: 1px solid #ccc;
}
#console{
  position: abosolute;
  top: 410px;
  width: 560px;
  padding: 20px;
  background: #eee;
  border: 1px solid #ccc;
  margin: 10px auto 0 auto;
  overflow: auto;
}
.carousel-sizing{
  height: 500px;
  width: 500px;
  justify-content: center;
}

/* IMAGE SLIDER */

@keyframes slider {
  0%{
    left: :0;
  }

  20%{
    Left: 0%;
  }
  25%{
    Left: -100%;
  }
  45%{
    Left: -100%;
  }
  50%{
    Left: -200%;
  }
  70%{
    Left: -200%;
  }
  75{
    left: -300%;
  }
  95%{
    Left: -400%
  }
  100%{
    Left: -400%;
  }
}
#slider {
  overflow: hidden;
}
#slider figure img{
  position: relative;
    width: 40%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 20s slider infinite;
  }
}
