<!DOCTYPE html>
<html>
  <head>
    <!--Defines the charactor set you plan to use. In this case its utf-8  -->
    <meta charset="utf-8">

    <!-- Added Description Meta Tags-->
    <meta name="author" content="Erik Salazar">
    <meta name="description" content="This is my project for the acumulation of work I've produced in the first three weeks at GA. This is my 'about' me page which holds my impoved version of pong which adds a different theme and new functionality">

    <!-- Linking google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Concert+One" rel="stylesheet">

    <!-- Linking my bootstrap CSS File -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Linking my main CSS File  -->
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/pong.css">
    <link href="https://fonts.googleapis.com/css?family=Berkshire+Swash" rel="stylesheet">


    <title>Pong 4.1.5</title>

  </head>
  <body>


    <!-- HEADER -->
    <header>
      <h1>Pong 4.1.5</h1>
      <hr>
      <p>This is where i will have a description of the game</p>
    </header>
    <!-- Navingation -->
    <nav>
      <ul class="nav nav-tabs justify-content-center">
        <li class="nav-item">
          <a class="nav-link active" href="index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about.html">About</a>
        </li>
      </ul>
    </nav>
    <!-- Button To Toggle Game-->
      <!-- <div id="button" class="text-center"> -->
        <!-- <button type="button" class="btn btn-outline-danger">PLAY MY PONG!</button> -->
      <!-- </div> -->

      <div id="console">
      <!-- <p>Computer: <span id="scoreLeft">0</span></p> -->
      <!-- <p>Player: <span id="scoreRight">0</span></p> -->
      <h2>Use Left and Right Arrow Keys</h2>
      </div>
      <br>
      <br>
      <!-- Linking my pong game file!  -->
      <script src="../js/pong.js"></script>


        <!-- Adding my bootstrap js files -->

        <!-- First Up we have our jquery file -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

    <!-- Bootstrap also adds popper.js -->
    <script
     src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

     <!-- Adding Bootstrap Javascript Files  -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- Linking my pong game file!  -->
    <script src="../js/pong.js"></script>

  </body>
</html>
