<!DOCTYPE html>
<html>
  <head>
    <!--Defines the charactor set you plan to use. In this case its utf-8  -->
    <meta charset="utf-8">

    <!-- Added Description Meta Tags-->
    <meta name="author" content="Erik Salazar">
    <meta name="description" content="This is my project for the acumulation of work I've produced in the first three weeks at GA. This is my 'about' me page which holds my impoved version of pong which adds a different theme and new functionality">

    <!-- Hopefully I can add a icon to my site later -->
    <!-- <link rel="shortcut icon" href="favicon.ico" type="images/x-icon"> -->

    <!-- Linking my bootstrap CSS File -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Linking my main CSS File  -->
    <link rel="stylesheet" href="../css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Berkshire+Swash" rel="stylesheet">

    <title>Pong 4.1.5</title>
  </head>
  <body>
    <header>
      <h1>Pong 4.1.5</h1>
      <hr>
      <p>This is where i will have a description of the game</p>
    </header>
    <nav>
      <ul class="nav nav-tabs justify-content-center">
        <li class="nav-item">
          <a class="nav-link active" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Follow!</a>
        </li>
      </ul>
    </nav>
    <br>
    <br>
    <div id="button" class="text-center">
      <button type="button" class="btn btn-outline-danger">PLAY MY PONG!</button>
    <br>
    <br>
    <br>
    <section id="game">
      <div id="playground">
        <div id="welcome">
          Hit [<span>Enter</span>] to Start Dis
        </div>
        <div id="pause">
          </br>[Enter] Restart
        </div>
      </div>
      <!-- End of my Playground -->
      <div id="console">
        Left Player: <span id="scoreLeft">0</span>
        <br/>Right Player: <span id="scoreRight">0</span>
        <br/>Left Player Controls: [q]/[a]
        <br/>Right Player Controls: Cursor [up]/[down]
        <br/>Pause: [Enter]
        <br/>
        <br/><a target="_blank" href="http://bohuco.net/blog/2013/08/still-playing-around-with-gamequery/">Blog Post</a> by <a target="_blank" href="http://bohuco.net/blog">bohuco.net</a>

    <footer>

    </footer>

        <!-- Adding my scripts here -->


        </script>

        <!-- Adding my bootstrap js files -->

        <!-- First Up we have our jquery file -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <!-- Bootstrap also adds popper.js -->
    <script
     src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
     <!-- Adding Bootstrap Javascript Files  -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script src="../js/game.js"></script>
  </body>



</html>
