<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Linking my bootstrap CSS File -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="../css/fancyfooter.css">
    <link rel="stylesheet" href="../css/main.css">


    <title>About ME</title>
  </head>
  <body>
    <!-- HEADER -->
    <header>
      <h1>Pong 4.1.5</h1>
      <hr>
      <p>This is where i will have a description of the game</p>
    </header>
    <!-- Navingation -->
    <nav>
      <ul class="nav nav-tabs justify-content-center">
        <li class="nav-item">
          <a class="nav-link" href="index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about.html">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="social.html">Follow!</a>
        </li>
      </ul>
    </nav>
    <br>
    <br>
    <main>
      <div class="container">
    </main>
  </body>
</html>
